<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
        <i class="fa fa-check"></i>
    </a>
  
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/customers']" routerLinkActive="router-link-active" >Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vendors']" routerLinkActive="router-link-active" >Vendors</a>
        </li>
      </ul>
    </div>
    
  
</nav>