<div class="row">
  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>
</div>

<div class="row">
    <!-- translation: translation pipe -->
    <h1>{{ 'demo.title' | translate }}</h1>
  
    <!-- translation: directive (key as attribute)-->
    <p [translate]="'demo.text'"></p>
  
    <!-- translation: directive (key as content of element) -->
    <p translate>demo.text</p>
</div>

<div class="well">
    translation with parameters
    <p>{{ 'demo.greeting' | translate:{'name':'Sazzadul', 'company' : 'ict-euro'} }}</p>
</div>